# App
ENV=production
APP_SECRET_KEY=change-me-super-long-random-change-this

# Domain (Traefik/Dokploy)
# Recomendado: subdominio dedicado
DOMAIN=notas_internos.vaner.cloud

# PostgreSQL (service name 'db' en compose)
POSTGRES_DB=B_D_Internos
POSTGRES_USER=internos_user
POSTGRES_PASSWORD=change-me-strong

DATABASE_URL=postgresql+psycopg2://internos_user:change-me-strong@db:5432/B_D_Internos

# Initial admin (solo se usa si la BD está vacía)
INIT_ADMIN_USER=admin
INIT_ADMIN_PASS=change-me-very-strong

# Optional coordinator
# INIT_COORD_USER=coord
# INIT_COORD_PASS=change-me-strong
